<!DOCTYPE html>
<html>
<head>
  <title>Image results for '<%= @query %>'</title>
  <link rel="stylesheet" href="/stylesheets/styles.css">
</head>
<body>
  <p><a href="/" title="API Docs | Curriculum Tagger"> Home</a></p>

<h1>Image results for '<%= @query %>'</h1>
<% for image in @images %>
  <div class="box">
  <h2><%= image.title %></h2>
  <img src="<%= image.url %>" width="<%= image.width %>" height="<%= image.height %>" title="<%= image.title %>">
  <p>url: <%= image.url %></p>
  <p>width: <%= image.width %></p>
  <p>height: <%= image.height %></p>
  </div>
<% end %>

<%= include 'github-ribbon.erb' %>
</body>
</html>
