<!DOCTYPE html>
<html>
<head>
  <title><%= @post.title %></title>
  <link rel="stylesheet" href="/stylesheets/styles.css">
</head>
<body>
  <p><a href="/" title="API Docs | Curriculum Tagger"> Home</a></p>

  <h1><%= @post.title %></h1>
  <p>Created: <%= @post.created_at %></p>
  <p>Updated: <%= @post.updated_at %></p>
  <hr>
  <p><%= @post.body %></p>

<%= include 'github-ribbon.erb' %>
</body>
</html>
