<!DOCTYPE html>
<html>
<head>
  <title><%= @post.title %></title>
  <link rel="stylesheet" href="/stylesheets/styles.css">
</head>
<body>

  <h1><%= @post.title %></h1>
  <p>Created: <%= @post.created_at %></p>
  <p>Updated: <%= @post.updated_at %></p>
  <hr>
  <p><%= @post.body %></p>

</body>
</html>
