<!DOCTYPE html>
<html>
<head>
  <title>Relationships</title>
  <link rel="stylesheet" href="/stylesheets/styles.css">
  <link title="Relationships in JSON"
    type="application/json"
    rel="alternate"
    href="/relationships.json">
  <link title="Relationships in XML"
    type="application/xml"
    rel="alternate"
    href="/relationships.xml">
</head>
<body>

  <h1>Relationships</h1>
  <% if @by %>
    <p>where <%= @by %> = '<%= @uri %>'.</p>
  <% end %> 
  <table>
  <thead>
    <th> </th>
    <th>Subject</th>
    <th>Predicate</th>
    <th>Object</th>
  </thead>
  <tbody>
  <% for rel in @relationships %>
    <tr>
      <td><a href="/relationships/<%= rel.id %>"><%= rel.id %></a></td>
      <td><a href="/relationships/by/subject/?uri=<%=u rel.subject %>" title="Relationships where the subject is '<%= rel.subject %>'"><%= rel.subject %></a></td>
      <td><%= rel.predicate %></td>
      <td><a href="/relationships/by/object/?uri=<%=u rel.object %>" title="Relationships where the object is '<%= rel.object %>'"><%= rel.object %></a></td>
    </tr>
  <% end %>
  </tbody>
  </table>
  
</body>
</html>
