<!DOCTYPE html>
<html>
<head>
  <title>Relationship <%= @relationship.id %></title>
  <link rel="stylesheet" href="/stylesheets/styles.css">
  <link title="Relationship in JSON"
    type="application/json"
    rel="alternate"
    href="/relationships/<%= @relationship.id %>.json">
  <link title="Relationship in XML"
    type="application/xml"
    rel="alternate"
    href="/relationships/<%= @relationship.id %>.xml">
</head>
<body>
  <p><a href="/" title="API Docs | Curriculum Tagger"> Home</a></p>
  <h1>Relationship <%= @relationship.id %></h1>
  <p>Created: <%= @relationship.created_at %></p>
  <p>Updated: <%= @relationship.updated_at %></p>
  <hr>
   <h3>Details</h3>
  <form action="/relationships/<%= @relationship.id %>/edit" method="get">
  <div style="margin:0;padding:0">
    <input type="submit" name="" value="Edit">
  </div>
  </form>
  <form method="get" action="/relationships/new">        
    <input type="hidden" name="s" value="<%=h @relationship.subject %>" />
    <input type="hidden" name="p" value="<%=h @relationship.predicate %>" />
    <input type="hidden" name="o" value="<%=h @relationship.object %>" />
    <input type="submit" name="" value="Clone" />
  </form>

 <table>
  <tbody>
    <tr>
      <th>Subject</th>
      <td><a href="/relationships/by/subject/?uri=<%=u @relationship.subject %>" title="Relationships where the subject is '<%= @relationship.subject %>'"><%= @relationship.subject %></a></td>
    </tr>
    <tr>
      <th>Predicate</th>
      <td><a href="/relationships/by/predicate/?uri=<%=u @relationship.predicate %>" title="Relationships where the predicate is '<%= @relationship.predicate %>'"><%= @relationship.predicate %></a></td>
    </tr>
    <tr>
      <th>Object</th>
      <td><a href="/relationships/by/object/?uri=<%=u @relationship.object %>" title="Relationships where the object is '<%= @relationship.object %>'"><%= @relationship.object %></a></td>
    </tr>
  </tbody>
  </table>

  <%= include 'github-ribbon.erb' %>
</body>
</html>
