<!DOCTYPE html>
<html>
<head>
  <title>Relationship <%= @relationship.id %></title>
  <link rel="stylesheet" href="/stylesheets/styles.css">
  <link title="Relationship in JSON"
    type="application/json"
    rel="alternate"
    href="/relationships/<%= @relationship.id %>.json">
  <link title="Relationship in XML"
    type="application/xml"
    rel="alternate"
    href="/relationships/<%= @relationship.id %>.xml">
</head>
<body>
  <p><a href="/" title="API Docs | Curriculum Tagger"> Home</a></p>
  <h1>Relationship <%= @relationship.id %></h1>
  <p>Created: <%= @relationship.created_at %></p>
  <p>Updated: <%= @relationship.updated_at %></p>
  <hr>
 <table>
  <tbody>
    <tr>
      <th>Subject</th>
      <td><a href="/relationships/by/subject/?uri=<%=u @relationship.subject %>" title="Relationships where the subject is '<%= @relationship.subject %>'"><%= @relationship.subject %></a></td>
    </tr>
    <tr>
      <th>Predicate</th>
      <td><%= @relationship.predicate %></td>
    </tr>
    <tr>
      <th>Object</th>
      <td><a href="/relationships/by/object/?uri=<%=u @relationship.object %>" title="Relationships where the object is '<%= @relationship.object %>'"><%= @relationship.object %></a></td>
    </tr>
  </tbody>
  </table>
  <%= include 'github-ribbon.erb' %>
</body>
</html>
