<!DOCTYPE html>
<html>
<head>
  <title>Relationships</title>
  <link rel="stylesheet" href="/stylesheets/styles.css">
  <% case @by
  when nil %>
    <link title="Relationships in JSON"
      type="application/json"
      rel="alternate"
      href="/relationships.json">
    <link title="Relationships in XML"
      type="application/xml"
      rel="alternate"
      href="/relationships.xml">
  <% else %>
    <link title="Relationships in JSON"
      type="application/json"
      rel="alternate"
      href="/relationships/by/<%= @by %>.json?uri=<%=u @uri %>">
    <link title="Relationships in XML"
      type="application/xml"
      rel="alternate"
      href="/relationships/by/<%= @by %>.xml?uri=<%=u @uri %>">
  <% end %> 
  <script src="/scripts/actions.js"></script>
</head>
<body>

  <h1>Relationships</h1>
  <% if @by %>
  <form action="/relationships/by/<%= @by %>" method="get">
    <p>where
    <select id="relationships-form-uri-select" name="by">
    <option value="subject" <%if @by == 'subject'%>selected<% end %>>subject</option>
    <option value="object" <%if @by == 'object'%>selected<% end %>>object</option>
    </select>
     = <input id="relationships-form-uri-field" type="text" name="uri" value="<%=h @uri %>"> <input type="submit" value="update" id="relationships-form-submit-button"></p>
    </form>
  <% end %> 
  <table>
  <thead>
    <th> </th>
    <th>Subject</th>
    <th>Predicate</th>
    <th>Object</th>
  </thead>
  <tbody>
  <% for rel in @relationships %>
    <tr>
      <td><a href="/relationships/<%= rel.id %>"><%= rel.id %></a></td>
      <td><a href="/relationships/by/subject/?uri=<%=u rel.subject %>" title="Relationships where the subject is '<%= rel.subject %>'"><%= rel.subject %></a></td>
      <td><%= rel.predicate %></td>
      <td><a href="/relationships/by/object/?uri=<%=u rel.object %>" title="Relationships where the object is '<%= rel.object %>'"><%= rel.object %></a></td>
    </tr>
  <% end %>
  </tbody>
  </table>
  
  <%= include 'github-ribbon.erb' %>
</body>
</html>
