<!DOCTYPE html>
<html>
<head>
  <title><%= @subject.label %></title>
  <link rel="stylesheet" href="/stylesheets/styles.css">
</head>
<body>
  <p><a href="/" title="API Docs | Curriculum Tagger"> Home</a></p>

  <h1><%= @subject.label %></h1>
  <p><%= @subject.description %></p>
  <hr>
  <p><a href="/relationships/by/subject/?uri=<%= @subject.id %>">Relationships where '<%= @subject.label %>' is the subject</a></p>
  <p><a href="/relationships/by/object/?uri=<%= @subject.id %>">Relationships where '<%= @subject.label %>' is the object</a></p>
  <p><a href="http://www.bbc.co.uk/education/subjects/<%= @subject.id %>">Visit BBC Bitesize</a></p>

<%= include 'github-ribbon.erb' %>
</body>
</html>
